[Unit]
Description=DIYM smart chessboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/SmartChess/RaspberryPiCode
Environment=PATH=/home/pi/SmartChess/RaspberryPiCode/smartenv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games
ExecStart=/home/pi/SmartChess/RaspberryPiCode/smartenv/bin/python -u StartChessGame.py
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
